---
interface Props {
    title: string;
    text: string;
    icon: string;
    alt: string;
}

const {title, text, icon, alt} = Astro.props;
---

<div class="card flex flex-col gap-y-[20px] py-[40px] items-center bg-white rounded-[10px] shadow-[2px_2px_8px_#00000040] max-[480px]:w-[100%] max-[480px]:h-[300px] sm:w-[100%] sm:h-[300px] md:w-[100%] md:h-[300px]">
    <div>
        <img src={icon} alt={alt} class="w-[60px] h-[60px]">
    </div>
    <div class="flex flex-col items-center gap-y-[10px] px-[20px]">
        <h3 class="font-[Poppins] font-[600] text-[20px]">{title}</h3>
        <p class="text-center text-[var(Roboto)] text-[#3d3d3d]">{text}</p>
    </div>
</div>

<style>
    @media screen and (min-width: 320px) and (max-width: 639px){
        .card{
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 20px;
            height: fit-content;
            width: 100%;
        }    
    }

    @media screen and (min-width: 800px) and (max-width: 1600px){
        .card{
            display: flex;
            flex-direction: column;
            align-items: center;
            row-gap: 20px;
            height: 300px;
            width: 325px;
        }
    }

    @media screen and (min-width: 800px) and (max-width: 899px){
        .card{
            width: 100%
        }
    }
</style>