---
---

<footer class="py-[10px]">
    <h4 class="text-[var(--roboto)] text-center">Página desarrollada por <a href="">MATOB Consultoría</a></h4>
</footer>

<style>
    footer{
        background-color: #3b3f29;
    }

    footer h4{
        color: #ced89cc2;
    }
</style>