---

---

<section id="servicios" class="py-[50px] px-[100px] max-[480px]:px-[20px]">
    <h2 class="font-[Poppins] font-[400] text-[35px] text-white">Nuestros Servicios</h2>
    <div class="my-[50px] flex justify-center flex-col gap-[50px] max-[480px]:flex-col sm:flex-col md:flex-col lg:flex-row">
        <div class="bg-white h-[400px] w-[300px] rounded-[10px] shadow-[2px_2px_8px_#00000040] max-[480px]:w-[100%] max-[480px]:h-[300px] sm:w-[100%] sm:h-[300px]">
            <h4 class="text-[#3d3d3d]">Sanitización</h4>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt omnis repudiandae tenetur vero, suscipit harum quia deserunt velit exercitationem libero perferendis eveniet molestias quo odio rerum fuga dolore commodi nostrum.</p>
        </div>
        <div class="bg-white h-[400px] w-[300px] rounded-[10px] shadow-[2px_2px_8px_#00000040] max-[480px]:w-[100%] max-[480px]:h-[300px] sm:w-[100%] sm:h-[300px]">
            <h4 class="text-[#3d3d3d]">Desinfección de...</h4>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt omnis repudiandae tenetur vero, suscipit harum quia deserunt velit exercitationem libero perferendis eveniet molestias quo odio rerum fuga dolore commodi nostrum.</p>
        </div>
        <div class="bg-white h-[400px] w-[300px] rounded-[10px] shadow-[2px_2px_8px_#00000040] max-[480px]:w-[100%] max-[480px]:h-[300px] sm:w-[100%] sm:h-[300px]">
            <h4 class="text-[#3d3d3d]">Limpieza/Desinfección de Efluentes</h4>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt omnis repudiandae tenetur vero, suscipit harum quia deserunt velit exercitationem libero perferendis eveniet molestias quo odio rerum fuga dolore commodi nostrum.</p>
        </div>
    </div>
</section>

<style>
    #servicios{
        background: linear-gradient(
            to bottom,
            #afc24ef5,
            #ced89cab
        ),
        url('../../assets/manos-protegiendo-planta.jpg');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }
</style>