---
import CardServicio from "../cards/CardServicio.astro"
import lavadoFrutas from '/public/iconos/icono-tratamiento-frutas.png';
import tratamientoAmbientes from '/public/iconos/icono-tratamiento-ambiente.png';
import tratamientoFluidos from '/public/iconos/icono-tratamiento-fluidos.png';
---

<section id="servicios" class="py-[50px] px-[100px] max-[480px]:px-[20px]">
    <h2 class="font-[Poppins] font-[400] text-[35px] text-white">Nuestros Servicios</h2>
    <div class="my-[50px] flex justify-center flex-col gap-[50px] max-[480px]:flex-col max-[639px]:flex-col sm:flex-col min-[1601px]:flex-row">
        <CardServicio title="Tratamiento Post Cosecha" text="Nuestros sistemas de sanitización garantizan que las frutas y/o verduras sanitizadas mantengan su calidad por largos periodos de tiempo." icon={lavadoFrutas.src} alt="icono de servicio de tratamiento post cosecha" />
        <CardServicio title="Tratamientos Ambientales" text="Sanitizacion ambiental, control y eliminación de olores, y eliminación de patógenos en ambientes cerrados." icon={tratamientoAmbientes.src} alt="icono de servicio de tratamientos ambientales" />
        <CardServicio title="Tratamiento de Fluidos" text="Tratamiento de efluentes, potabilización de aguas y tratamiento de torres de enfriamiento." icon={tratamientoFluidos.src} alt="icono de servicio de tratamiento de fluidos" />
    </div>
</section>

<style>
    #servicios{
        background: linear-gradient(
            to bottom,
            #afc24ef5,
            #ced89cab
        ),
        url('/imagenes/manos-protegiendo-planta.webp');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }

    @media screen and (max-width: 1023px){
        #servicios{
            background-attachment: initial;
        }
    }

    @media screen and (min-width: 481px) and (max-width: 639px){
        #servicios div{
            display: flex;
            flex-direction: column;
        }
    }

    @media screen and (min-width: 800px) and (max-width: 1600px) {
        #servicios div{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
</style>