---
import logo from '../assets/logo.png';
---

<header class="absolute top-0 left-0 w-full bg-[transparent] flex justify-between items-center p-4">
    <div class="text-white">
        <img src={logo.src} alt="logo" class="h-[80px]">
    </div>
    <nav id="menu" class="flex flex-col text-white font-[Roboto] font-[400] absolute top-[0] right-[0] bg-[var(--verde)] translate-y-[-800px] z-10 transition-all lg:static lg:translate-y-0 lg:transition-none lg:bg-[inherit]">
        <i id="botonCerrarMenu" class="bi bi-x-lg text-[30px] text-end p-3 cursor-pointer lg:hidden"></i>
        <ul class="flex gap-x-12 flex-col gap-y-5 w-[100vw] h-[100vh] lg:flex-row lg:bg-inherit lg:h-[20px] lg:w-[100%]">
            <li class="text-center">
                <a href="#inicio" class="hover:text-[#17a2da] hover:drop-shadow-[0_0_2px_#17a2da]">
                    Inicio
                </a>
            </li>
            <li class="text-center">
                <a href="#nosotros" class="hover:text-[#17a2da] hover:drop-shadow-[0_0_2px_#17a2da]">
                    Nosotros
                </a>
            </li>
            <li class="text-center">
                <a href="#servicios" class="hover:text-[#17a2da] hover:drop-shadow-[0_0_2px_#17a2da]">
                    Servicios
                </a>
            </li>
            <li class="text-center">
                <a href="" class="hover:text-[#17a2da] hover:drop-shadow-[0_0_2px_#17a2da]">
                    Contacto
                </a>
            </li>
        </ul>
    </nav>
    <div class="lg:hidden">
        <i id="botonAbrirMenu" class="bi bi-list text-[40px] text-[#fff] cursor-pointer"></i>
    </div>
    <div class="text-white hidden lg:inline">
        <a href="" class="font-[Roboto] bg-[#25D366] py-3 px-4 rounded-[25px] drop-shadow-[0_0_1px_#000] hover:drop-shadow-[0_0_4px_#25D366] hover:drop-shadow-[0_0_4px_#25D366] transition-all duration-[0.3s]">
            <i class="bi bi-whatsapp mr-[5px]"></i>Contactanos
        </a>
    </div>
</header>


<script>
    const botonAbrirMenu = document.getElementById("botonAbrirMenu");
    const botonCerrarMenu = document.getElementById("botonCerrarMenu");
    const menu = document.getElementById("menu");

    let menuAbierto = false;

    const abrirCerrarMenu = () => {
        if(menuAbierto){
            menu.style.transform = "translateY(-800px)";
            menuAbierto = false;
        } else {
            menu.style.transform = "translate(0px)";
            menuAbierto = true;
        }
    }

    botonAbrirMenu.addEventListener('click', abrirCerrarMenu);
    botonCerrarMenu.addEventListener('click', abrirCerrarMenu);
</script>